* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  background: #000;
  color: #fff;
}

:root {
  --colorBlanco: rgba(255, 255, 255, 1);
  --colorBlanco500: rgba(255, 255, 255, 0.5);
  --colorNegroBoton: rgba(11, 13, 24, 1);
}

.container {
  min-width: 100%;
  min-height: 100vh;
  padding-top: 40px;
}

.text-bold {
  font-weight: 600;
  margin-right: 15px;
}

.text100 {
  font-weight: 100;
}

.text200 {
  font-weight: 200;
}

.text300 {
  font-weight: 300;
}

.text400 {
  font-weight: 400;
}

.text500 {
  font-weight: 500;
}

.text600 {
  font-weight: 600;
}

.titulo1 {
  font-size: 9em;
}

.titulo2 {
  font-size: 1.8em;
}

.titulo3 {
  font-size: 6em;
}

.sub-titulo1 {
  font-size: 2em;
}

.texto1 {
  font-size: 1.5em;
}

.texto2 {
  font-size: 1.2em;
}

.blanco500 {
  color: var(--colorBlanco500);
}

.mayuscula {
  text-transform: uppercase;
}

.minuscula {
  text-transform: lowercase;
}

.spacing2 {
  letter-spacing: 2px;
}

.spacing5 {
  letter-spacing: 5px;
}

.container-menu {
  margin-left: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
}

.menu {
  position: relative;
  width: 65%;
  display: flex;
  flex-flow: row wrap;
  backdrop-filter: blur(25px);
  padding-left: 60px;
  background-color: rgba(255, 255, 255, 0.03);
}
.menu::after {
  content: "";
  height: 2px;
  width: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: -45%;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
}
.menu-list {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  height: 100px;
}
.menu-list-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.menu-list-box:hover .menu-list-item-link-hover {
  left: 25%;
}
.menu-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  list-style-type: none;
}
.menu-list-item-link {
  position: relative;
  height: 50px;
  width: 180px;
  padding: 40px 0px;
  text-decoration: none;
  color: var(--colorBlanco);
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-list-item-link-active {
  display: block;
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: var(--colorBlanco);
  bottom: 0;
}
.menu-list-item-link-hover {
  display: block;
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: var(--colorBlanco);
  bottom: 0%;
  left: -50%;
  transition: 0.4s all ease;
}

.container-image-home {
  background: url(../assets/Desktop/background-home-desktop.jpg) no-repeat center/cover;
}

.main-container {
  position: relative;
  width: 80%;
  margin: auto;
  height: 82vh;
  display: grid;
  grid-template: "main-container-description main-container-action" auto/40% 60%;
}
.main-container-description {
  grid-area: main-container-description;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: self-start;
  padding-top: 80px;
}
.main-container-action {
  grid-area: main-container-action;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  padding-top: 120px;
}
.main-container-action-button {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  font-family: "Barlow Condensed", sans-serif;
  background-color: var(--colorBlanco);
  color: var(--colorNegroBoton);
  letter-spacing: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s all ease-in-out;
}
.main-container-action-button:hover {
  box-shadow: 0px 0px 15px 75px rgba(255, 255, 255, 0.06), 0px 0px 15px 75px rgba(255, 255, 255, 0.1), 0px 0px 15px 75px rgba(255, 255, 255, 0.1);
}

.container-image-destination {
  background: url(../assets/Desktop/background-destination-desktop.jpg) no-repeat center/cover;
}

.main-container-destination {
  width: 80%;
  margin: auto;
  position: relative;
}
.main-container-destination-slide {
  position: relative;
  height: 75vh;
  margin: auto;
  overflow: hidden;
  display: grid;
  grid-template: "main-container-destination-tabs-image main-container-destination-action" auto/50% 50%;
}
.main-container-destination-slide-image {
  grid-area: main-container-destination-tabs-image;
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}
.main-container-destination-action {
  grid-area: main-container-destination-action;
  position: relative;
  width: 90%;
  margin: auto;
  height: 85%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
.main-container-destination-action-tabs {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.menu-destination {
  position: relative;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
.menu-destination-box {
  position: relative;
  overflow: hidden;
  padding: 5px 0px;
}
.menu-destination-box:hover .menu-destination-box-hover {
  left: 25%;
}
.menu-destination-box-item {
  position: relative;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.menu-destination-box-link {
  position: relative;
  padding: 10px 25px;
  text-decoration: none;
  letter-spacing: 2px;
}
.menu-destination-box-text {
  font-size: 1.2em;
}
.menu-destination-box-text-active {
  color: var(--colorBlanco);
}
.menu-destination-box-text-hover {
  color: var(--colorBlanco500);
}
.menu-destination-box-active {
  display: block;
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: var(--colorBlanco);
  bottom: 0%;
  left: 24%;
  transition: 0.4s all ease;
}
.menu-destination-box-hover {
  display: block;
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: var(--colorBlanco500);
  bottom: 0%;
  left: -50%;
  transition: 0.4s all ease;
}

.slide {
  position: relative;
  transition: 0.8s all ease-in-out;
  width: 100%;
}
.slide-item {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.slide-destination-image {
  display: inline-flex;
  width: 90%;
  height: 90%;
  object-fit: none;
  position: relative;
  transition: 0.8s all ease-in-out;
}
.slide-destination-image:hover {
  transform: scale(1.06);
}
.slide-move0 {
  transform: translateY(0%);
}
.slide-move100 {
  transform: translateY(-100%);
}
.slide-move200 {
  transform: translateY(-200%);
}
.slide-move300 {
  transform: translateY(-300%);
}

.container-info-star {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.container-info-star-block {
  display: block;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  transition: 0.8s all ease-in-out;
}
.container-info-star-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
}
.container-info-star-item-description {
  position: relative;
  font-size: 1.3em;
  line-height: 40px;
  margin: 0px 0px 40px 0px;
}
.container-info-star-detail {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1.5px solid var(--colorBlanco500);
  padding-top: 1.5em;
}

.d-block {
  display: block;
}

.m-top5 {
  margin-top: 5px;
}

.container-image-crew {
  background: url(../assets/Desktop/background-crew-desktop.jpg) no-repeat center/cover;
}

.main-container-crew {
  width: 80%;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.main-container-crew-slide {
  position: relative;
  height: 80vh;
  margin: auto;
  overflow: hidden;
  display: grid;
  grid-template: "main-container-crew-slide-info main-container-crew-slide-image" auto/50% 50%;
}
.main-container-crew-slide-info {
  grid-area: main-container-crew-slide-info;
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}
.main-container-crew-slide-image {
  grid-area: main-container-crew-slide-image;
  position: relative;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.main-container-crew-box-image {
  border: 3px solid orange;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}
.main-container-crew-box-image-item {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 100%;
  transform: translateX(0%);
}

.image-slide-item {
  object-fit: cover;
  width: 80%;
  height: 100%;
  margin: auto;
  border: 2px solid white;
}

.container-boxing {
  border: 3px solid blue;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
