* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  background: #000;
  color: #fff;
}

:root {
  --colorBlanco: rgba(255, 255, 255, 1);
  --colorBlanco500: rgba(255, 255, 255, 0.5);
  --colorNegroBoton: rgba(11, 13, 24, 1);
}

.container {
  min-width: 100%;
  min-height: 100vh;
  padding-top: 40px;
  background: url(../assets/Desktop/background-home-desktop.jpg) no-repeat center/cover;
}

.text-bold {
  font-weight: 600;
  margin-right: 15px;
}

.text100 {
  font-weight: 100;
}

.text200 {
  font-weight: 200;
}

.text300 {
  font-weight: 300;
}

.text400 {
  font-weight: 400;
}

.text500 {
  font-weight: 500;
}

.text600 {
  font-weight: 600;
}

.titulo1 {
  font-size: 9em;
}

.titulo2 {
  font-size: 1.8em;
}

.texto1 {
  font-size: 1.5em;
}

.texto2 {
  font-size: 1.2em;
}

.container-menu {
  margin-left: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
}

.menu {
  position: relative;
  width: 65%;
  display: flex;
  flex-flow: row wrap;
  backdrop-filter: blur(25px);
  padding-left: 60px;
  background-color: rgba(255, 255, 255, 0.03);
}
.menu::after {
  content: "";
  height: 2px;
  width: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: -45%;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
}
.menu-list {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  height: 100px;
}
.menu-list-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.menu-list-box:hover .menu-list-item-link-hover {
  left: 25%;
}
.menu-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  list-style-type: none;
}
.menu-list-item-link {
  position: relative;
  height: 50px;
  width: 180px;
  padding: 40px 0px;
  text-decoration: none;
  color: var(--colorBlanco);
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-list-item-link-active {
  display: block;
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: var(--colorBlanco);
  bottom: 0;
}
.menu-list-item-link-hover {
  display: block;
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: var(--colorBlanco);
  bottom: 0%;
  left: -50%;
  transition: 0.4s all ease;
}

.main-container {
  position: relative;
  width: 80%;
  margin: auto;
  height: 82vh;
  display: grid;
  grid-template: "main-container-description main-container-action" auto/50% 50%;
}
.main-container-description {
  grid-area: main-container-description;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: self-start;
  width: 60%;
  padding-top: 120px;
}
.main-container-action {
  grid-area: main-container-action;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}
.main-container-action-button {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  font-family: "Barlow Condensed", sans-serif;
  background-color: var(--colorBlanco);
  color: var(--colorNegroBoton);
  letter-spacing: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s all ease-in-out;
}
.main-container-action-button:hover {
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.3), 0px 0px 35px rgba(255, 255, 255, 0.3), 0px 0px 45px rgba(255, 255, 255, 0.3);
}

.main-container-destination {
  position: relative;
  background: url(../assets/Desktop/background-destination-desktop.jpg) no-repeat center/cover;
  width: 80%;
  margin: auto;
  height: 82vh;
  display: grid;
  grid-template: "main-container-description main-container-action" auto/50% 50%;
}

/*# sourceMappingURL=style.css.map */
