// Estilos de la vista Crew
.container-image-crew{
    @include bg-image("../assets/Desktop/background-crew-desktop.jpg");
}

.main-container-crew{
    width: 80%;
    margin: auto;
    position: relative;
    overflow: hidden;
    // border: 3px solid red;

    &-slide-info{
        // border: 3px solid red;
    }
    
    &-general-info{
        // border: 3px solid white;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        min-width: 100%;
    }

        
    &-box-info{
        // border: 3px solid cyan;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-right: 10%;
        width: 100%;
        overflow: hidden;
    }
    
    &-box-item{
        // border: 3px solid orange;
        min-width: 85vh;
        height: 100%;
        // transform: translateX(-200px);
    }

    &-options-link{
        width: 100%;

        &-item{
            min-width: 15px;
            min-height: 15px;
            border-radius: 50%;
            margin-right: 20px;
            display: inline-block;
            cursor: pointer;
        }
    }


    // Detalles del Slide
    &-slide{
        position: relative;
        height: 80vh;
        margin: auto;
        overflow: hidden;
        display: grid;
        grid-template: 
        "main-container-crew-slide-info main-container-crew-slide-image" auto/
        50% 50%;
        // border: 5px solid orange;

        &-info{
            grid-area: main-container-crew-slide-info;
            position: relative;
            display: inline-block;
            display: flex;
            justify-content: center;
            align-content: center;
            overflow: hidden;
            // border: 3px solid white;
        }

        &-image{
            grid-area: main-container-crew-slide-image;
            position: relative;
            min-height: 100%;
            min-width: 100%;
            // border: 3px solid cyan;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            overflow: hidden;
        }
    }

    &-box-image{
        // border: 3px solid orange;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        height: 100%;
        display: flex;
        align-items: flex-end;
        
        &-item{
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: flex-end;
            overflow: hidden;
            min-width: 100%;
            // transform: translateX(-200px);
        }
    }
}

.image-slide-item{
    object-fit: contain;
    width: 100%;
    max-height: 79vh;
    // border: 2px solid white;
}

.container-boxing{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.crew-option-link-hover{
    background-color: var(--colorBlanco500);
}

.crew-option-link-active{
    background-color: var(--colorBlanco);
}