.container-image-destination{
    @include bg-image("../assets/Desktop/background-destination-desktop.jpg");
}

// Estilos de contenedor principal
.main-container-destination{
    width: 80%;
    margin: auto;
    position: relative;
    // border: 3px solid red;

    &-slide{
        position: relative;
        height: 75vh;
        margin: auto;
        overflow: hidden;
        display: grid;
        grid-template: 
        "main-container-destination-tabs-image main-container-destination-action" auto/
        50% 50%;
        // border: 5px solid orange;

        &-image{
            grid-area: main-container-destination-tabs-image;
            position: relative;
            display: inline-block;
            // border: 3px solid yellow;
            display: flex;
            justify-content: center;
            align-content: center;
            overflow: hidden;
        }
    }

    &-action{
        grid-area: main-container-destination-action;
        position: relative;
        width: 90%;
        margin: auto;
        height: 85%;
        // border: 3px solid green;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;

        &-tabs{
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
}

.menu-destination{
    position: relative;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;

    &-box{
        position: relative;
        overflow: hidden;
        padding: 5px 0px;
    
        &:hover .menu-destination-box-hover{
            left: 25%;
        }

        &-item{
            position: relative;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            
        }
    
        &-link{
            position: relative;
            padding: 10px 25px;
            text-decoration: none;
            letter-spacing: 2px;
        }

        &-text{
            font-size: 1.2em;
        }

        &-text-active{
            color: var(--colorBlanco);
        }

        &-text-hover{
            color: var(--colorBlanco500);
        }

        &-active{
            display: block;
            position: absolute;
            width: 50%;
            height: 3px;
            background-color: var(--colorBlanco);
            bottom: 0%;
            left: 24%;
            transition: 0.4s all ease;
        }

        &-hover{
            display: block;
            position: absolute;
            width: 50%;
            height: 3px;
            background-color: var(--colorBlanco500);
            bottom: 0%;
            left: -50%;
            transition: 0.4s all ease;
        }
    }
}

.slide{
    // border: 2px solid cyan;
    position: relative;
    transition: .8s all ease-in-out;
    width: 100%;
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
    // align-content: center;

    &-item{
        position: relative;
        overflow: hidden;
        // display: inline-flex;
        // flex-flow: row nowrap;
        // justify-content: center;
        // align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        // border: 2px solid cyan;
    }
    
    &-destination-image{
        // border: 2px solid blue;
        display: inline-flex;
        width: 90%;
        height: 90%;
        object-fit: none;
        position: relative;
        transition: .8s all ease-in-out;
        // border: 2px solid coral;
    
        &:hover{
            transform: scale(1.06);
        }
    }

    // Clases para mover el Slide
    &-move0{
        transform: translateY(0%);
    }

    &-move100{
        transform: translateY(-100%);
    }
    
    &-move200{
        transform: translateY(-200%);
    }
    
    &-move300{
        transform: translateY(-300%);
    }
}

// Detalles de cada astro
.container-info-star{
    position: relative;
    // border: 2px solid white;
    height: 100%;
    // width: 100%;
    // display: flex;
    // flex-flow: column nowrap;
    overflow: hidden;

    &-block{
        // border: 3px solid blue;
        display: block;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        transition: .8s all ease-in-out;
    }

    &-item{
        // border: 2px solid red;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        overflow: hidden;
        min-height: 100%;
        width: 100%;
    }

    &-item-description{
        position: relative;
        font-size: 1.3em;
        line-height: 40px;
        margin: 0px 0px 40px 0px;
    }

    &-detail{
        // border: 2px solid white;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1.5px solid var(--colorBlanco500);
        padding-top: 1.5em;
    }
}

.d-block{
    display: block;
}

.m-top5{
    margin-top: 5px;
}