.container-image-destination{
    @include bg-image("../assets/Desktop/background-destination-desktop.jpg");
}

// Estilos de contenedor principal
.main-container-destination{
    position: relative;
    width: 80%;
    margin: auto;
    height: 82vh;
    display: grid;
    grid-template: 
    "main-container-description main-container-action" auto/
    40% 60%;
    border: 3px solid red;
}