.text-bold{
    font-weight: 600;
    margin-right: 15px
}

// FUENTE
.text100{
    font-weight: 100;
}

.text200{
    font-weight: 200;
}

.text300{
    font-weight: 300;
}

.text400{
    font-weight: 400;
}

.text500{
    font-weight: 500;
}

.text600{
    font-weight: 600;
}

// TITULOS
.titulo1{
    font-size: 9em;
}

.titulo2{
    font-size: 1.8em;
}

.titulo3{
    font-size: 6em;
}

.titulo4{
    font-size: 3em;
}

.titulo5{
    font-size: 5em;
}

.titulo6{
    font-size: 2.5em;
}

// Sub titulos
.sub-titulo1{
    font-size: 2em;
}

.sub-titulo2{
    font-size: 1.4em;
}

// PARRAFOS
.texto1{
    font-size: 1.5em;
}

.texto2{
    font-size: 1.2em;
}

// Colores
.blanco500{
    color: var(--colorBlanco500);
}

// Estilos
.mayuscula{
    text-transform: uppercase;
}

.minuscula{
    text-transform: lowercase;
}

// Espaciados de letras
.spacing2{
    letter-spacing: 2px;
}

.spacing5{
    letter-spacing: 5px;
}

.line-height40{
    line-height: 40px;
}