.text-bold{
    font-weight: 600;
    margin-right: 15px
}

// FUENTE
.text100{
    font-weight: 100;
}

.text200{
    font-weight: 200;
}

.text300{
    font-weight: 300;
}

.text400{
    font-weight: 400;
}

.text500{
    font-weight: 500;
}

.text600{
    font-weight: 600;
}

// TITULOS
.titulo1{
    font-size: 9em;
}

.titulo2{
    font-size: 1.8em;
}

// PARRAFOS
.texto1{
    font-size: 1.5em;
}

.texto2{
    font-size: 1.2em;
}

// Colores
.blanco500{
    color: var(--colorBlanco500);
}

// Estilos
.mayuscula{
    text-transform: uppercase;
}

.minuscula{
    text-transform: lowercase;
}