.main-container{
    position: relative;
    width: 80%;
    margin: auto;
    height: 82vh;
    display: grid;
    grid-template: 
    "main-container-description main-container-action" auto/
    50% 50%;

    &-description{
        grid-area: main-container-description;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: self-start;
        // border: 2px solid red;
        width: 60%;
        padding-top: 120px;
    }

    &-action{
        grid-area: main-container-action;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding-top: 120px;

        &-button{
            width: 350px;
            height: 350px;
            border-radius: 50%;
            font-family: 'Barlow Condensed', sans-serif;
            background-color: var(--colorBlanco);
            color: var(--colorNegroBoton);
            letter-spacing: 5px;
            outline: none;
            border: none;
            cursor: pointer;
            z-index: 10;
            transition: 0.3s all ease-in-out;

            &:hover{
                box-shadow: 0px 0px 25px rgba($color: #ffffff, $alpha: 0.3),
                0px 0px 35px rgba($color: #ffffff, $alpha: 0.3),
                0px 0px 45px rgba($color: #ffffff, $alpha: 0.3);
            }
        }
    }
}

