.container-menu {
    margin-left: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
    height: 12vh;
}

    
// ESTILOS DE MENU
.menu{
    position: relative;
    width: 70%;
    display: flex;
    flex-flow: row nowrap;
    backdrop-filter: blur(25px);
    padding-left: 60px;
    background-color: rgba($color: #ffffff, $alpha: 0.03);
    
    &::after{
        content: '';
        height: 2px;
        width: 35%;
        display: block;
        position: absolute;
        top: 50%;
        left: -33%;
        z-index: -1;
        background-color: rgba($color: #ffffff, $alpha: 0.1);
        backdrop-filter: blur(25px);
    }

    &-list{
        position: relative;
        display: flex;
        flex-flow: row wrap;
        height: 100px;
        
        &-box{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            &:hover .menu-list-item-link-hover{
                left: 25%;
            }
        }

        &-item{
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
            list-style-type: none;
        }
        
        &-item-link{
            position: relative;
            height: 50px;
            width: 200px;
            padding: 40px 0px;
            text-decoration: none;
            color: var(--colorBlanco);
            font-style: normal;
            text-transform: uppercase;
            font-size: 1.4em;
            letter-spacing: 3px;
            display: flex;
            align-items: center;
            justify-content: center;

            &-active{
                display: block;
                position: absolute;
                width: 50%;
                height: 3px;
                background-color: var(--colorBlanco);
                bottom: 0;
            }

            &-hover{
                display: block;
                position: absolute;
                width: 50%;
                height: 3px;
                background-color: var(--colorBlanco);
                bottom: 0%;
                left: -50%;
                transition: 0.4s all ease;
            }
        }
    }
}

