* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    background: #000;
    color: #fff;
}

:root{
    --colorBlanco: rgba(255, 255, 255, 1);
    --colorBlanco900: rgba(255, 255, 255, 0.9);
    --colorBlanco500: rgba(255, 255, 255, 0.5);
    --colorNegroBoton: rgba(11, 13, 24, 1);
}

@mixin bg-image($url){
    background: url(#{$url}) no-repeat center/cover;
}

.container {
    min-width: 100%;
    min-height: 100vh;
    padding-top: 40px;
}

@import "fonts";
@import "menu";
@import "main";
@import "destination";
@import "crew";
@import "technology";

// MediaQuery Movil
@import "./mediaQuery/Movil/menu";
@import "./mediaQuery/Movil/main";

// MediaQuery Tablet
@import "./mediaQuery/Tablet/menu";
@import "./mediaQuery/Tablet/main";
@import "./mediaQuery/Tablet/destination";
@import "./mediaQuery/Tablet/technology";