* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    background: #000;
    color: #fff;
}

:root{
    --colorBlanco: rgba(255, 255, 255, 1);
    --colorBlanco500: rgba(255, 255, 255, 0.5);
}

.container {
    min-width: 100%;
    min-height: 100vh;
    background: url("../assets/Desktop/background-home-desktop.jpg") no-repeat center/cover;
    padding-top: 40px;
}

.text-bold{
    font-weight: bold;
    margin-right: 15px
}

@import "menu";
@import "main";