@media screen and (width >= 768px) and (width <= 1330px) {

    // Eliminar los margenes del contenedor principal para adaptar la pantalla a toda la vista 
    .main-container-technology{
        width: 100%;
    }

    .technology-slide{
        grid-template: 
        "technology-slide-image" auto
        "technology-slide-button" auto
        "technology-slide-info" auto/
        100%;
        // border: 2px solid pink;
        gap: 10px;

        &-image{
            // border: 2px solid wheat;
            align-items: center;
            margin: 0;
            position: relative;
        }

        &-info{
            font-size: 15px;
            // border: 2px solid orange;
            width: 80%;
            margin: 0 auto;

        }

        &-button{
            flex-flow: row nowrap;
        }
    }

    .slide-image-item{
        // border: 2px solid red;
        height: auto;
        object-fit: cover;
        margin: 0;
    }

    .button-technology{
        width: 70px;
        height: 70px;
    }

    // Mostrar imagenes en tamano landscape
    .imageLandscape{
        display: visible;
        // border: 2px solid cyan;
    }

    .imageDesktop{
        display: none;
    }

    .slide-info-item{
        align-items: center;
        text-align: center;
    }

    .margin90{
        width: 90%;
        margin: auto;
    }
}

@media screen and (width > 1330px) {
    
    .imageDesktop{
        display: visible;
    }

    // Ocultar imagen landscape en formato Desktop
    .imageLandscape{
        display: none;
    }
}