// Media Query para version movil
@media screen and (width >= 375px) and (width <= 768px) {
    
    .container{
        padding-top: 0px;
        overflow: hidden;
        position: relative;
    }

    // Menu
    .container-menu{
        // border: 2px solid red;
        margin-left: 0px;
        padding: 0px 20px;
    }
    
    // Cambios en el menu
    .menu{
        width: 60%;
        padding-left: 20px;
        padding-top: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 10;
        right: -60%;
        transition: .6s .1s all ease-in-out;
        
        &-toggle{
            right: 0%;
        }
        
        &::after{
            display: none;
        }
        
        &-list{
            display: block;
            
            &-item-link{
                font-size: 1.1em;
                width: 180px;
                justify-content: flex-start;
                height: 30px;

                &-active{
                    width: 100%;
                }
            }
        }
    }

    .option-close{
        justify-content: flex-end;
    }
    
    // Cambio de fondo de pantalla para version movil
    .container-image-home{
        @include bg-image("../assets/Mobile/background-home-mobile.jpg");
        overflow: hidden;
    }

    .main-container{
        // background-color: green;
        overflow: hidden;
    }

    // Cambios generales dentro del contenedor en version movil
    .main-container{
        grid-template: 
        "main-container-description" auto
        "main-container-action" auto/
        100%;
        
        // Cambios en contenedor de descripcion para adaptar el contenido de descriocion
        &-description{
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 12px;
            width: 95%;
            margin: auto;
        }

        // Cambios en contenedor de descripcion para adaptar el contenido de boton
        &-action{
            align-items: center;
            padding-top: 20px;
            z-index: 1;

            &-button{
                width: 175px;
                height: 175px;
            }
        }
    }

    .text600{
        font-weight: 300;
    }

    .titulo1{
        font-size: 7em;
    }

    .titulo2{
        font-size: 1.4em;
    }

    .texto2{
        font-size: 1.3em;
    }

    .spacing25{
        letter-spacing: 10px;
    }

    .icon{
        width: 40px;
    }

    .icon2{
        // border: 2px solid wheat;
        font-size: 30px;
    }

    .iconClose{
        cursor: pointer;
    }

    .iconHamburguer{
        cursor: pointer;
    }

}

// Media Query para version Tablet
@media screen and (width >= 768px) and (width <= 1330px) {
    
    // Menu
    .container-menu{
        // border: 2px solid red;
    }

    // Cambios en el menu
    .menu{
        width: 65%;
        padding-left: 20px;

        &::after{
            display: none;
        }

        &-list{

            &-item-link{
                font-size: 0.9em;
                width: 105px;
                height: 30px;
            }
        }
    }

    .hidden{
        display: none;
    }

    .iconHamburguer{
        display: none;
    }

    // Main View
    .container-image-home{
        @include bg-image("../assets/Tablet/background-home-tablet.jpg");
    }

    .main-container{
        // background-color: Blue;
        grid-template: 
        "main-container-description" auto
        "main-container-action" auto/
        100%;
        
        &-description{
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 15px;
            width: 70%;
            margin: auto;
        }

        &-action{
            align-items: center;
            padding-top: 20px;

            &-button{
                width: 225px;
                height: 225px;
            }
        }
    }

    .text600{
        font-weight: 300;
    }

    .titulo2{
        font-size: 1.5em;
    }

    .icon{
        width: 50px;
    }

    .texto2{
        font-size: 1.3em;
    }

    .spacing25{
        letter-spacing: 10px;
    }

    .iconClose{
        display: none;
    }
}

// Media Query para hacer mas grande el menu cuando escala en version tablet
@media screen and (width >= 1000px) and (width <= 1330px) {
    .menu{
        width: 65%;
        padding-left: 30px;

        &::after{
            display: none;
        }

        &-list{

            &-item-link{
                // border: 2px solid white;
                font-size: 1.2em;
                width: 125px;
                height: 30px;
            }
        }
    }

    .iconHamburguer{
        display: none;
    }

    .iconClose{
        display: none;
    }
    
}

@media screen and (width > 1330px) {
    .iconHamburguer{
        display: none;
    }

    .iconClose{
        display: none;
    }
}

